<section class="actions container">
  <p>
    Pomoc niesiona wspólnie ma jeszcze większą moc, dlatego ZooArt nie tylko samodzielnie wspiera
    potrzebujące zwierzęta, ale też chętnie angażuje w różnego rodzaju działania we współpracy z
    innymi. Tylko w ciągu ostatniego roku uczestniczyliśmy w co najmniej kilkunastu akcjach
    związanych ze zwierzakami! Jedne miały zasięg ogólnokrajowy, inne całkiem lokalny, jednak ich
    cel był taki sam - dobro czworonogów! Co udało nam się zrealizować na przestrzeni ostatniego
    roku?
  </p>
  <ul>
    <li>
      <h6>Josera Wspiera</h6>
      <p>
        Facebookowi fani naszego profilu - Sklep ZooArt mieli możliwość zgłosić potrzebującą
        organizację pomagającą zwierzętom oraz w głosowaniu zadecydować kto ostatecznie otrzyma
        paletę karmy od jej producenta - firmy Josera.
      </p>
      <img />
    </li>
    <li class="visually-hidden">
      <h6>Projekt Aport</h6>
      <p>
        ZooArt przekazał karmę dla psów oraz kotów, którą wsparł inicjatywę młodzieży z II Liceum
        Ogólnokształcącego im. Świętej Królowej Jadwigi w Siedlcach, która w ramach olimpiady
        “Zwolnieni z Teorii” zorganizowała cykl zbiórek funduszy i karmy na rzecz stowarzyszenia
        “Zwierzoluby z Siedlec”.
      </p>
      <img />
    </li>
    <li class="visually-hidden">
      <h6>Puławy</h6>
      <p>
        ZooArt, w ramach współpracy, dostarczył karmę, zakupioną przez karmimypsiaki.pl, do
        schroniska dla bezdomnych zwierząt w Puławach.
      </p>
      <img />
    </li>
    <li class="visually-hidden">
      <h6>Zbiórka w GOK Stężyca</h6>
      <p>
        Sklep ZooArt włączył się w lokalną zbiórkę zorganizowaną przez Gminny Ośrodek Kultury w
        Stężycy na rzecz Schroniska dla psów "Zwierzaki do wzięcia" w Goździe. Dołączyliśmy do akcji
        przekazując karmę suchą i mokrą oraz przysmaki, żwirki i gadżety dla czworonożnych
        podopiecznych. Dary osobiście dostarczyliśmy i przekazaliśmy na ręce Dyrektora GOKu, a dalej
        trafiły one już bezpośrednio do psiaków w Goździe
      </p>
      <img />
    </li>
    <li class="visually-hidden">
      <h6>Wystawa PFK oddział Mazowiecki w Stężycy</h6>
      <p>
        Wsparcie dla Fundacji Chatul /nie mamy zdjęć - tu były gadżety za linka i logo na stronie,
        mamy podziękowanie oficjalne od fundacji- można wykorzystać/ ZooArt przekazał zestawy
        akcesoriów i karmy na rzecz fundacji Chatul. Wsparcie zostało przeznaczone do licytacji na
        bazarku charytatywnym, z którego fundacja pozyskuje fundusze na cele swojej działalności,
        czyli niesienie ogromu pomocy dla potrzebujących psów i kotów.
      </p>
      <img />
    </li>
    <li class="visually-hidden">
      <h6>“Pomoc Ukraińskim Pupilom”</h6>
      <p>
        Wraz z wybuchem wojny ZooArt pospieszył z pomocą organizując zbiórkę karmy i funduszy dla
        zwierząt z Ukrainy. Darczyńcy mogli przekazać cegiełkę finansową, bądź zrobić zakupy
        przeznaczone specjalnie dla ukraińskich zwierząt. W ramach akcji dary zostały przekazane do
        schronisk w okolicach Lwowa, Przytułku Ani i Nataszy z Włodzimierza Wołyńskiego, włodarzy
        miasta Boyarka. Karmę udało się dostarczyć nawet do schroniska “Nasz Dom” zlokalizowanego w
        Boryspolu pod Kijowem, którego położenie po drugiej stronie rzeki Dniepr sprawia, że nawet
        pomoc humanitarna dociera tam z olbrzymim trudem. Część zgromadzonych funduszy przeznaczone
        również zostało na przekazanie pomocy humanitarnej, żywność została przekazana do
        potrzebujących w miejscowościach: Mikołajów, Charków, Bachmut i Pokrowsk. Akcja nadal trwa i
        kolejne transporty karmy, akcesoriów i leków, niebawem będą przekazane na Ukrainę.
      </p>
      <img />
    </li>
  </ul>
</section>
