<div class="backdrop visually-hidden">
  <section class="modal-window">
    <button class="modal-window__close-btn" type="button">
      <svg class="modal-window__close-icon" width="40" height="40">
        <use href="./images/sprite.svg#close-btn"></use>
      </svg>
    </button>
    <p class="modal-window__text">
      Jeśli prowadzisz działalność związaną ze zwierzętami, organizujesz eventy albo tworzysz swój
      content w dowolnych mediach społecznościowych, zgłoś się do nas! To tylko 3 proste kroki:
    </p>
    <form class="form">
      <ul class="form__list">
        <li class="form__item">
          <label for="tel" class="label">Wpisz swój numer telefonu </label>
          <input
            class="input tel-js"
            type="tel"
            name="tel"
            id="tel"
            placeholder="+48-000-000-000"
          />
        </li>
        <li class="form__item">
          <label for="comment" class="label">
            Wyjaśnij czym się zajmujesz i w jaki sposób chcesz z nami współpracować</label
          >
          <textarea class="comment form-js" name="comment" id="comment" rows="8"></textarea>
        </li>
        <li class="form__item">
          <label for="comment" class="label"
            >Określ czego od nas oczekujesz i jak pomożesz naszej sprawie.</label
          >
          <textarea class="comment form-js" name="comment" id="comment" rows="8"></textarea>
        </li>
        <li class="form__item">
          <a href="./partial/rules.html">
            Zapoznaj się z zasadami, według których będzie przebiegać współpraca.</a
          >
        </li>
      </ul>

      <button class="form-submit" type="submit">wyślij</button>
    </form>
  </section>
</div>
