<section class="form container">
  <p clss="form__text">
    Ostatnie miesiące pokazują jasno, że pomoc jest potrzebna. Nie tylko finansowa albo rzeczowa.
    Duża część waszych próśb dotyczy wsparcia w przygotowaniu i promowaniu wydarzeń, na których
    brylują zwierzaki. Widzimy też rosnącą popularność twórców, którzy swój content opierają na
    relacjach ze zwierzętami. W ten sposób promują pozytywne relacje z pupilami, co idealnie wpisuje
    się w naszą misję. Przyszedł czas, gdy możemy pomóc sobie nawzajem.
  </p>
  <button type="button" class="form__btn">
    WYPEŁNIJ FORMULARZ I ROZPOCZNIJ WSPÓŁPRACĘ Z ZOOART
  </button>
  <p clss="form__text">
    Razem możemy zrobić wiele dobrego - potwierdzą to wszyscy, do których nasza pomoc już dotarła.
    Zapraszamy do obejrzenia naszej galerii - Waszej Ściany Chwały
  </p>
</section>
