<header class="header container">
  <h2 class="header__title">Cześć Zwierzomaniaku!</h2>
  <p class="header__text">
    Witaj w Internetowym Sklepie Zoologicznym ZooArt - miejscu, w którym znajdziesz wszystko, czego
    potrzebujesz do opieki nad swoim pupilem. Oprócz ogromnego wyboru produktów dla zwierząt w
    najniższych cenach, znajdziesz tu coś więcej - Społeczność Zwierzomaniaków, których łączy jeden
    cel:<br />
    <span class="header__text--accent"
      >CZERPANIE MAKSYMALNEJ FRAJDY Z TOWARZYSTWA ZWIERZĄT I OPIEKI NAD NIMI</span
    >
    <br />
    Każdy robi to po swojemu i to jest super - dzięki temu możemy łatwo wymieniać się
    doświadczeniami i codziennie uczymy się wielu przydatnych rzeczy od siebie nawzajem.
    Organizujemy pomoc dla zwierzaków, które często nie mają na kogo liczyć. Czasem nagradzamy te,
    które pracują dla dobra człowieka. Wspieramy imprezy, na których gwiazdami są właśnie pupile.
    Dajemy dobry przykład, potwierdzając, że relacje z czworonogami naprawdę się liczą. Za każdym
    razem ramię w ramię z wami i za każdym razem skutecznie.
  </p>
</header>
