<section class="modal-window visually-hidden">
  <p>
    Jeśli prowadzisz działalność związaną ze zwierzętami, organizujesz eventy albo tworzysz swój
    content w dowolnych mediach społecznościowych, zgłoś się do nas! To tylko 3 proste kroki:
  </p>
  <ul>
    <li>Zapoznaj się z zasadami, według których będzie przebiegać współpraca.</li>
    <li>Wyjaśnij czym się zajmujesz i w jaki sposób chcesz z nami współpracować.</li>
    <li>Określ czego od nas oczekujesz i jak pomożesz naszej sprawie.</li>
  </ul>
</section>
